@import "/Users/maayanbuzaglo/Documents/Github/crm-bootcamp/8.frontend-react/src/styles/_base.scss";

button {
  font-family: optima;
  font-size: 15px;
  background: lighten($blue, 0%);
  color: rgb(255, 255, 255) !important;
  border-radius: 30px 30px 30px 30px;
  white-space: normal;
  letter-spacing: 2px;
  border: none;
  height: 35px;
  width: 170px;
}

button:hover {
  background-color: lighten($blue, 50%);
  transform: translateX(-0.25em);
  cursor: pointer;
}
