@import "../../styles/base";

.table {
  margin-top: 10%;
  margin-left: 10%;
  font-family: optima;
  font-size: 100%;
  position: absolute;
  width: 50%;
  height: 40%;
  border-collapse: collapse;

  th {
    color: $blue;
    font-size: 100%;
    padding: 3% 0% 3% 0%;
  }

  td {
    font-size: 80%;
    padding: 1% 0% 1% 2%;
  }

  td:hover {
    cursor: pointer;
  }

  tr:hover {
    background-color: lighten($blue, 60%);
  }

  table,
  th,
  td {
    border: 1px solid lighten($blue, 60%);
    text-align: left;
    padding: 1%;
  }
}
