$blue: #002c9b;
$bright-blue: #0884d6;

.body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

s html {
  font-size: 62.5%;
  height: 100%;
}

h1 {
  font-family: optima;
  font-size: 40px;
  color: lighten($blue, 0%);
  letter-spacing: 1px;
}

h4 {
  font-family: optima;
  font-size: 18px;
  letter-spacing: 0.5px;
}

// For links
a:-webkit-any-link {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link:hover {
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
}
