@import "../../styles/base";

.body {
  display: flex;
}

.updateClient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lighten($bright-blue, 50%);
  border-radius: 0% 50% 0% 50%;

  h4 {
    font-size: 20px;
    color: lighten(black, 50%);
    margin-top: -8%;
    letter-spacing: 1px;
    word-spacing: 10px;
  }

  input {
    color: rgba(0, 0, 0, 0.473);
  }

  input:focus {
    color: black;
  }
}
