<!DOCTYPE html>
<html lang="en">

<head>
    <script
    src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
    crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemade Deliveries</title>
    <link rel="stylesheet" href="css/landingPageStyle.css">

</head>

<body>
    <!-- First block -->
    <form class="section1-form">
        <span class="logo">
            <img src="img/logo.svg" alt="logo picture" id="logo-img">
        </span>

        <div class="details">
            <div class="userDetails">
                {{{getFlag}}}
                <h5>{{addName}}</h5>
            </div>
            <h2 id="row1-h2">{{titleRow1}}</h2>
            <h1 id="row2-h1">{{titleRow2}}</h1>
            <p id="row3-p">{{view}}</p>
            <button id="view-btn">{{viewBtn}}</button>
        </div>
    </form>

    <!-- Second block -->
    <section class="quote-div">
        <p>{{{quote}}}<span id="writer-span">{{writer}}</span>
        </p>
    </section>

    <!-- Third block -->
    <form class="submit-form" name="form1" onsubmit="validateEmail(event)">
        <span id="submit-span">
            <h1 id="submit-h1">{{submitRow1}}</h1>
            <h1 id="submit-h1">{{submitRow2}}</h1>
            <div class="submit-details-div">
                <h1 id="invalid"><br></h2>
                    {{{getInputs}}}
                    <button id="submit-btn">{{submitBtn}}</button>
            </div>
        </span>
    </form>

    <button class="open-button" id="openBtn" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <div class="form-container">
            <ul id="messages">
                <div id="typing">typing...</div>
            </ul>
            <form  id="chat-form" class="message-input" action="">
                <input id="chat-input" autocomplete="off" placeholder="write your message here..."/>
                <button type="submit" id="chat-submit-btn">SEND</button>
            </form>
            <div class="cancel-div">
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </div>
          </div>
    </div>
    <script defer src="js/chat.js"></script>
    <script defer src="js/landingPage.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>