@import "/Users/maayanbuzaglo/Documents/Github/crm-bootcamp/8.frontend-react/src/styles/_base.scss";

.sideUser {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lighten($bright-blue, 50%);
  border-radius: 0% 0% 0% 50%;
  opacity: 0.7;
  z-index: -1;
}

.cell {
  display: flex;
  justify-content: center;
}
