@import "../../styles/base";
@import "../Input/Input.module.scss";

.body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;

  h7 {
    display: flex;
    font-size: 60px;
    color: lighten($blue, 55%);
  }

  h7:hover {
    color: $blue;
    cursor: pointer;
  }
}

.img {
  opacity: 30%;
}

.img:hover {
  opacity: 100%;
}

.orders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -8%;

  h4 {
    font-size: 20px;
    color: lighten(black, 50%);
    letter-spacing: 1px;
    word-spacing: 10px;
    margin-top: 0%;
  }

  .inputsWrapper {
    font-family: optima;
    display: flex;
    flex-direction: column;
    > * {
      margin-bottom: 15%;
      max-width: 218px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 40px;
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
