@import "../../styles/base";
@import "../Input/Input.module.scss";

.updateOrder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lighten($bright-blue, 50%);
  border-radius: 0% 50% 0% 50%;

  h1 {
    margin-top: -3%;
    margin-bottom: 8%;
  }

  h4 {
    font-size: 20px;
    color: lighten(black, 50%);
    margin-top: -5%;
    letter-spacing: 1px;
    word-spacing: 10px;
  }

  .inputsWrapper {
    font-family: optima;
    display: flex;
    flex-direction: column;
    > * {
      margin-bottom: 15%;
      max-width: 218px;
    }
  }
}
