@import "../../styles/base";

.header {
  font-family: optima;
  background-color: lighten($blue, 60%);
  padding: 0.5rem 0rem;
  font-size: 2.5em;
  margin: 0;
  padding: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#link,
#dropdownLink {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.5em !important;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 20px;
  display: block;
}

#linkEnd:hover,
#link:hover {
  color: $blue;
  background-color: #f1f1f1;
}

#dropdownLink:hover {
  color: $blue;
}

#setting,
#chat {
  opacity: 30%;
  font-size: 0.5em !important;
  margin-top: 0px;
  margin-right: 14px;
}

#setting:hover,
#chat:hover {
  opacity: 100%;
}

.rightLinks {
  display: flex;
  align-items: center;
}

.dropLink {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: inline-block;
  font-size: 1.5em;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  bottom: 0;
  transform: translateY(90%);
}

/* Show the dropdown menu on hover */
.dropLink:hover .dropdownContent {
  display: block;
}
