@import "/Users/maayanbuzaglo/Documents/Github/crm-bootcamp/8.frontend-react/src/styles/_base.scss";

.header {
  margin-right: 5%;
  font-family: optima;
  background-color: lighten($blue, 60%);
  padding: 0.5rem 0.5rem;
  font-size: 3rem;
  margin: 0%;
}
#link {
  margin-left: 5.5%;
}

.header a:-webkit-any-link {
  color: $blue;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
