@import "../../styles/base";

.forgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    100deg,
    lighten($bright-blue, 50%),
    lighten($blue, 60%)
  );
  position: fixed;
  width: 100%;
  height: 100%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10%;
    border-radius: 50% 50% 50% 50%;
  }
}
